# Database Configuration
# DB_HOST=localhost
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=root
# DB_DATABASE=date_monitor
DB_HOST=turntable.proxy.rlwy.net
DB_PORT=29943
DB_USERNAME=root
DB_PASSWORD=sUjUoSIHSAsLOWyEKLYQArUWsxkIXwrW
DB_DATABASE=railway

# JWT Configuration
JWT_SECRET=your-secret-key-change-this-in-production

# Email Configuration (Mailtrap SMTP - Free tier available)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=6253911246d1d0
EMAIL_PASSWORD=7873d4164aef38
EMAIL_FROM=noreply@period-monitor.local

# Application Configuration
# PORT=3001
# NODE_ENV=development
PORT=3000
NODE_ENV=production

# Frontend URL for email links
# FRONTEND_URL=http://localhost:3001
FRONTEND_URL=https://69f01d85b3c66000076517d6--date-monitor-frontend.netlify.app

